@{
    ViewData["Title"] = "D.U.K";
}
@model IEnumerable<PVP.Models.Device>




<div class="center-container">
    <h1 class="center-text-title">D.U.K</h1>

    <p class="container-text">Lorem ipsum.</p>
    <p class="container-text">Dar nėra.</p>

</div>
