@{
    ViewData["Title"] = "D.U.K";
}
@model IEnumerable<PVP.Models.Device>


<div class="center-container">
    <h1 class="center-text-title">Dažnai užduodami klausimai</h1>

    <p class="container-text">Turite klausimų ar pasiūlymų? Iškilo problemų? Šiame lange rasite visą reikiamą informaciją.</p>

    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Kas yra "MATAS"? Koks šio projekto tikslas?</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    "MATAS - tai 5 Kauno Technologijos Universiteto studentų projektas, skirtas padėti naudotojams sekti bei sumažinti energijos sąnaudas išmanių
                    prietaisų pagalba.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Neturiu matavimo įrenginio, ar galima jį įsigyti?</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    Taip! Įsigyti įrenginį galite paspaudus ant nuorodos pradiniame šio tinklapio lange. Vieno įrenginio kaina 15.00€.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Kiek įrenginių galiu naudoti vienu metu?</a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    Nėra nustatyto įrenginių limito vienam naudotojui. Galite įsigyti ir naudoti tiek įrenginių, kiek norite.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Kur galiu naudoti Jūsų energijos stebėjimo prietaisus?</a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    Mūsų energijos sąnaudų stebėjimo prietaisus galite naudoti visur, kur yra bent vienas elektros lizdas: bute, name, darbovietėje, garaže ir tt.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Turite klausimų, pasiūlymų, ar iškilo problemų?</a>
                </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                    Susisiekti galite el. laišku: <a href="mailto:mataspvpktu@ktu.edu">mataspvpktu@ktu.edu</a>
                </div>
            </div>
        </div>
    </div>

</div>
