@{
    ViewData["Title"] = "Pagrindinis";
}

<div class="split split-left">
    <div class="split-centered">
        <img src="/images/logo.png" alt="Image" class="responsive-image">
    </div>
</div>

<div class="split split-right">
    <div class="quarter quarter-top">
        <div class="split-quarter">
            <h2>Jau turite įrenginį?</h2>
            <div class="container-login100-form-btn">
                <a class="login100-form-btn" href="@Url.Action("Login", "Home")">
                    <span class="glyphicon glyphicon-log-in" style="top:-3px;"></span>&nbsp;&nbsp;Prisijungti
                </a>
            </div>
            
        </div>
    </div>

    <div class="quarter quarter-bottom">
        <div class="split-quarter">
            <h2>Neturite įrenginio?</h2>
            <div class="container-login100-form-btn">
                <a class="login100-form-btn" href="https://bongo.cat/">
                    <span class="glyphicon glyphicon-shopping-cart" style="top:0px;"></span>&nbsp;&nbsp;Pirkti
                </a>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    // LOGOUT message
    window.onload = function () {
        if ('@TempData["LogoutSuccessMessage"]' == 'LogoutSuccess') {
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Sėkmingai atsijungėte!',
                showConfirmButton: false,
                timer: 1600
            });
        }
    };

</script>