/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}
html {
    overflow-y: auto;
    overflow-x: auto;
}


.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;

}


.navbar {
    min-height: 60px;
}
.container-fluid {
    min-height: 60px;
}


.nav.navbar-nav li a {
    min-height: 60px;
    font-size: 18px;
    padding-top: 18px;
    font-weight: bold;
    color: blue;
    margin: auto;
}

a.navbar-brand{
    min-height: 60px;
}


.nav.navbar-nav.navbar-right li a {
    min-height: 60px;
    font-size: 18px;
    padding-top: 18px;
    font-weight: bold;
    margin: auto;
}
.nav.navbar-nav.navbar-right li a:hover {
    min-height: 60px;
    font-size: 18px;
    padding-top: 18px;
    font-weight: bold;
    color: #4b2354;
    margin: auto;
    text-decoration: underline;
}

.nav.navbar-nav.navbar-left li a {
    min-height: 60px;
    font-size: 18px;
    padding-top: 18px;
    font-weight: bold;
    margin: auto;
}
.nav.navbar-nav.navbar-left li a:hover {
    min-height: 60px;
    font-size: 18px;
    padding-top: 18px;
    font-weight: bold;
    color: #4b2354;
    margin: auto;
    text-decoration: underline;
}





/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}


html {
  position: relative;
  min-height: 100%;
}



.container-main {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: relative;
    z-index: 1;
    margin-top: 50px;
}


.container-main::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(93,84,240,0.5);
    background: -webkit-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background: -o-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background: -moz-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background: linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    pointer-events: none;
}

.container-footer {
    width: 100%;

    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: relative;
    z-index: 1;
}


.container-footer::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(93,84,240,0.5);
    background: -webkit-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background: -o-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background: -moz-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background: linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    pointer-events: none;
}


/* FOOTER
-------------------------------------------------- */
.footer {
    border-top: solid;
    border-width: 1px;
    border-color: #4b2354;
    margin-left: 10%;
    margin-right: 10%;
}

.footer .copyright {
    text-align: center;
    padding-top: 15px;
    color: #4b2354;
    padding-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
}

.alignleft {
    width: 33.33333%;
    text-align: left;
    font-size: 18px;
}

.aligncenter {
    width: 33.33333%;
    text-align: center;
    font-size: 18px;
}

.alignright {
    width: 33.33333%;
    text-align: right;
    font-size: 18px;
}

.text-center-small {
    display: block;
    font-family: SourceSansPro-Bold;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
}

.text-center-small p {
    font-size: 15px;
}


/*INDEX*/
/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.quarter {
    height: 50%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.quarter-top {
    left: 50%;
    top: 6%;
    background-color: white;
}

.quarter-bottom {
    left: 50%;
    top: 50%;
    background-color: lightgray;
}

/* Control the left side */
.split-left {
    left: 0;
    background-color: darkgray;
}

/* Control the right side */
.split-right {
    right: 0;
    background-color: white;
}

/* If you want the content centered horizontally and vertically */
.split-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.split-quarter {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.index-button {
    min-height: 60px;
    font-size: 18px;
    padding-top: 18px;
    font-weight: bold;
    margin: auto;
}

.index-button:hover {
    min-height: 60px;
    font-size: 18px;
    padding-top: 18px;
    font-weight: bold;
    color: #4b2354;
    margin: auto;
    text-decoration: underline;
}
