/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}
html {
    overflow-y: auto;
    overflow-x: auto;
}


.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;

}


.navbar {
    min-height: 55px;
}
.container-fluid {
    min-height: 55px;
}


.nav.navbar-nav li a {
    min-height: 55px;
    font-size: 20px;
    padding-top: 18px;
    font-weight: bold;
    color: blue;
    margin: auto;
}

a.navbar-brand{
    min-height: 55px;
}


.nav.navbar-nav.navbar-right li a {
    min-height: 55px;
    font-size: 18px;
    padding-top: 17px;
    padding-bottom: 16px;
    font-weight: bold;
    margin: auto;
}
.nav.navbar-nav.navbar-right li a:hover {
    min-height: 55px;
    font-size: 18px;
    padding-top: 17px;
    padding-bottom: 16px;
    font-weight: bold;
    color: #4b2354;
    margin: auto;
    text-decoration: none;
}

.nav.navbar-nav.navbar-left li a {
    min-height: 55px;
    font-size: 18px;
    padding-top: 17px;
    padding-bottom: 16px;
    font-weight: bold;
    margin: auto;
}
.nav.navbar-nav.navbar-left li a:hover {
    min-height: 55px;
    font-size: 18px;
    padding-top: 17px;
    padding-bottom: 16px;
    font-weight: bold;
    color: #4b2354;
    margin: auto;
    text-decoration: none;
}

.glyphicon {
    top: 2px !important;
}
.glyphicon.glyphicon-shopping-cart {
    top: 0px !important;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}


html {
  position: relative;
  min-height: 100%;
}



.container-main {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*align-items: center;*/
    padding: 5px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: relative;
    z-index: 1;
    margin-top: 55px;
    padding-top: 15px;
    padding-bottom: 50px;
}


.container-main::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(93,84,240,0.5);
    background: -webkit-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background: -o-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background: -moz-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background: linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    pointer-events: none;
}

.container-footer {
    width: 100%;

    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: relative;
    z-index: 1;
}


.container-footer::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(93,84,240,0.5);
    background: -webkit-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background: -o-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background: -moz-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    background: linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    pointer-events: none;
}


/* FOOTER
-------------------------------------------------- */
.footer {
    border-top: solid;
    border-width: 1px;
    border-color: #4b2354;
    margin-left: 10%;
    margin-right: 10%;
}

.footer .copyright {
    text-align: center;
    padding-top: 10px;
    color: #4b2354;
    display: flex;
    flex-flow: row wrap;
}

.alignleft {
    width: 33.33333%;
    text-align: left;
    font-size: 14px;
}

.aligncenter {
    width: 33.33333%;
    text-align: center;
    font-size: 14px;
}

.alignright {
    width: 33.33333%;
    text-align: right;
    font-size: 14px;
}

.text-center-small {
    display: block;
    font-family: SourceSansPro-Bold;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
}

.text-center-small p {
    font-size: 12px;
}


/*INDEX*/
/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.quarter {
    height: 50%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.quarter-top {
    left: 50%;
    top: 6%;
    background-color: white;
}

.quarter-bottom {
    left: 50%;
    top: 50%;
    background-color: lightgray;
}

/* Control the left side */
.split-left {
    left: 0;
    background-color: darkgray;
}

/* Control the right side */
.split-right {
    right: 0;
    background-color: white;
}

/* If you want the content centered horizontally and vertically */
.split-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.split-quarter {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.index-button {
    min-height: 60px;
    font-size: 18px;
    padding-top: 18px;
    font-weight: bold;
    margin: auto;
}

.index-button:hover {
    min-height: 60px;
    font-size: 18px;
    padding-top: 18px;
    font-weight: bold;
    color: #4b2354;
    margin: auto;
    text-decoration: underline;
}


/* Page container */

.center-container {
    border-radius: 10px;
    padding: 100px;
    padding-bottom: 70px;
    padding-top: 50px;
    width: 60vw;
    min-height: 70vh;
    background-color: white;
    margin: 0 auto;
    margin-top: 35px;

    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.4);
}

.center-container-wider {
    border-radius: 10px;
    padding: 100px;
    padding-bottom: 70px;
    padding-top: 50px;
    width: 80vw;
    min-height: 70vh;
    background-color: white;
    margin-top: 35px;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.4);
}


.center-text-title {
    font-family: SourceSansPro-SemiBold;
    font-size: 32px;
    color: black;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin-bottom: 80px;
}

.container-text {
    font-size: 16px;
    font-family: SourceSansPro-SemiBold;
    line-height: 1.2;
}

.error-text {
    font-size: 24px;
    font-family: SourceSansPro-SemiBold;
    line-height: 1.2;
    text-align: center;
    font-weight: bold;
    padding-top: 70px;
}


#table-realtime {
    width: 100%;
    margin: auto;
    margin-top: 50px;
}


#table-devices {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.table-main {
    font-size: 22px;
    text-align:left;
}

.responsive-image{
    width: 100%;
    max-width: 500px;
    max-height: 150px;
    height: auto;
}

.device-form {
    width: 75%;
    margin: 0 auto;
    margin-top: 40px;
}


/* Dropdown */


.dropdown {
    position: relative;
    display: inline-block;
    padding-right:10px;
    padding-left:12px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    right:0;
}

.dropdown-content a {
    color: black;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    right: 0;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    color: #4b2354;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.filter-div {
    background-color: #F4F4F4;
    padding: 20px;
    padding-left: 30px;
    border-radius: 20px;
    margin: 0 5%;
    margin-bottom: 70px;
    margin-top: 30px;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.4);
}


.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    padding-top: 5px;
/*    margin-bottom: 12px;*/
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    margin-top: 6px;
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
}


.radio-container:hover input ~ .checkmark {
    background-color: gray;
}

.radio-container input:checked ~ .checkmark {
    background-color: #bd59d4;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container input:checked ~ .checkmark:after {
    display: block;
}

.radio-container .checkmark:after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
}

.filter-div-table tr td{
    padding-bottom: 0px;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #bd59d4 !important;
    border-color: #bd59d4 !important;
    color: white !important;
    font-weight: bold !important;
}
.pagination > li > a, .pagination > li > span {
    color: black !important;
    font-weight: bold !important;
}

.sort-text{
    font-size: 16px;
    margin: 0;
}

.header-text {
    margin: auto;
    vertical-align: central;
}

.table > tbody > tr > th {
    vertical-align: middle !important;
}

.table > tbody > tr > th > a {
    line-height: 1.42857143 !important;
    color: #bd59d4;
}


.device-icon-box {
    font-size: 70px;
    padding-top: 10%;
    text-align: center;
}

.card {
    display: block;
    width: 23rem;
    min-height: 21rem;
    margin: 0 auto;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    transition: all 0.3s;
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-top: 30px;
    font-size: 20px;
    word-break: break-all;
}

.card:hover {
    box-shadow: 0 6px 6px 0 rgba(0,0,0,.14),0 7px 5px -2px rgba(0,0,0,.2),0 5px 9px 0 rgba(0,0,0,.12);
    top: -4px;
    transform: translateY(-4px);
    text-decoration: none;
    color: black;
}

.card:active {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    transform: translateY(4px);
    text-decoration: none;
    color: black;
}

.center-option {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    word-break: break-all;
}